body {
    margin: 0;
    background-color: white;
	background-image: url(img/image.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	display:flex;
	flex-wrap: wrap;
	min-height: 100vh;
	flex-direction: column
}

.logo {
    width: 50px;
    height: 50px;
}

nav li {
    display: inline;
    list-style: none;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    padding: 0;
    margin-right: 1.5;
    color: white;
}
.image{
display: flex;
width: 100%;
} 
header{}

footer{
	text-align: right;
	color: white;
	margin-top: 410px;
}
.formulaire{
	background-color: white;
	width:200px;
	height:500px;
	padding: 85px;
	margin:  0px 0px 0px 250px;
	box-shadow: 5px 3px #0a1116 ;
}